
::-webkit-scrollbar {
  display: none;
}



.buttons {
  margin-top: 2.25em;
}

.buttons .button {
  margin-right: 1em;
}

.button {
  display: inline-block;
  border-radius: 999vw;
  background: transparent;
  border: 2px solid;
  padding: .6em 1.1em;
  transition-property: background, color;
  transition-duration: 150ms;
  white-space: nowrap;
  cursor: pointer;
  font-weight: bold;
}

.button:hover {
  background: rgba(255, 255, 255, 0.05);
}
