

.t-records {
  transition-property: opacity, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  transform: translateX(0);
  opacity: 1;
}

html.is-animating .t-records {
  opacity: 0;
  transform: translateX(-1em);
}

html.is-leaving .t-records {
  transform: translateX(1em);
}


html.is-animating.to-left .t-records {
  opacity: 0;
  transform: translateX(1em);
}

html.is-leaving.to-left .t-records {
  transform: translateX(-1em);
}y-direction: -1; */
}
