html.is-changing .transition-main {
  transition: opacity 250ms ease-in-out;
}

html.is-animating .transition-main {
  opacity: 0;
}

html.is-changing .uc-transition-main {
  transition: opacity 250ms ease-in-out;
}

html.is-animating .uc-transition-main {
  opacity: 0;
}



html.is-changing .t-records {
  transition: opacity 250ms ease-in-out;
}

html.is-animating .t-records {
  opacity: 0;
}

html.is-changing .t-records {
  transition: opacity 250ms ease-in-out;
}

html.is-animating .t-records {
  opacity: 0;
}
